.VideoPreferences {
}

.artStyles {
  p {
    margin-bottom: 16px;
  }
  .wrap {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

    .artStyle {
      width: 100%;
      aspect-ratio: 4 / 5;
      background-size: cover;
      background-position: center;
      color: white;
      text-align: center;
      // font-size: 18px;
      font-weight: bold;
      border-radius: 18px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border: 5px solid $color_text_grey2;
      cursor: pointer;
      opacity: 0.8;
      position: relative;

      svg {
        position: absolute;
        top: 5px;
        left: 5px;
        color: $primary-core;
        font-size: 24px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid white;
        display: none;
      }

      &:hover {
        border-color: $color_text_grey;
        opacity: 0.9;
        //   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      &.active {
        border-color: $primary-core;
        opacity: 1;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        svg {
          display: block;
        }
      }
    }

    @include respond-below(md) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.ratio {
  height: 25px;
  // max-width: 30px;
  border: 2px solid $color_text_grey2;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.01);
}
