.form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .row {
        display: flex;
        gap: 16px;

        @include respond-below(md) {
            flex-direction: column;
        }
    }
}