.CustomInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  label {
    font-size: 13px;
    font-weight: 500;
    color: $text-secondary;
    margin-bottom: 2px;
  }

  .inputField {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid $border-subtle;
    background-color: $bg-elevated;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: all 0.2s ease;
    color: $text-primary;

    &::placeholder {
      color: #9ca3af;
    }

    &:focus {
      border-color: $red-core;
      background-color: $bg-hover;
    }

    &:disabled {
      opacity: 0.9;
      // background-color: #e5e7eb;
      // cursor: not-allowed;
    }
  }
}
