.Layout {
  .cont {
    display: flex;

    .main {
      // padding: $padding_sm $padding_sm $padding_sm 0;
      padding: $padding_md;
      width: 100%;
      height: 100vh;

      > div {
        // background-color: white;
        padding: 0 $padding_sm;
        // border-radius: 16px;
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    }
  }
}
