.SideBar {
  width: fit-content;
  // padding: 0 $padding_sm;
  background-color: $bg-surface;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border-right: 1px solid $border-subtle;
  position: relative;

  .logo {
    padding: $padding_sm;
    border-bottom: 1px solid $border-subtle;
    display: none;
  }

  &.expanded {
    width: 280px;

    .logo {
      display: unset;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 $padding_sm;

    .back {
      position: absolute;
      bottom: 16px;
      left: $padding_sm;
      background-color: $bg-elevated;
      width: calc(100% - $padding_sm * 2);
      @include flexCenter;

      &:hover {
        background-color: $bg-hover;
      }
    }

    .toggleButton {
      padding: 10px 20px;
      display: flex;
      width: 100%;
      font-size: 20px;
      cursor: pointer;
      gap: 10px;

      @include respond-below(md) {
        padding: 10px;
      }
    }
  }

  @include respond-below(md) {
    // display: none;

    &.expanded {
      display: flex;
      position: fixed;
      height: 100%;
    }
  }
}

.menuItem {
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 6px;
  font-weight: 500;
  color: $color_text_grey;
  font-size: 14px;
  cursor: pointer;
  position: relative;

  @include respond-below(md) {
    padding: 10px;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    color: white;
    background-color: $bg-hover;
  }

  .activeBorder {
    width: 3px;
    height: 22px;
    background-color: $red-core;
    position: absolute;
    left: 0;
    border-radius: 0 4px 4px 0;
    display: none;
  }

  &.active {
    color: $red-core;
    background-color: $red-surface;

    .activeBorder {
      display: block;
    }

    // box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  &.logout {
    color: $color_danger1;
  }
}

.bottom {
  margin-bottom: $padding_sm;
}
