.SideBar {
  width: fit-content;
  // padding: 0 $padding_sm;
  background-color: $bg-surface;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border-right: 1px solid $border-subtle;
  position: relative;

  .logo {
    padding: $padding_sm;
    border-bottom: 1px solid $border-subtle;
    display: none;
  }

  .menu {
    flex-direction: column;
    margin-top: 20px;
    padding: 0 $padding_sm;

    // .label {
    //   border-top: 1px solid $border-subtle;
    //   color: $color_text_grey;
    //   font-size: 12px;
    //   padding-top: 12px;
    //   padding-left: 5px;
    //   margin-top: 12px;
    //   margin-bottom: 8px;
    //   text-transform: uppercase;
    // }

    .label {
      display: flex;
      align-items: center;
      margin-top: 10px;

      gap: 10px;
      span {
        width: fit-content;
        display: block;
        color: $text-muted;
        font-size: 12px;
        font-weight: 600;
        display: none;
      }
      hr {
        background-color: $border-subtle;
        opacity: 1;
        height: 1px;
        width: 100%;
        border: none;
      }
    }

    .toggleButton {
      padding: 10px 20px;
      display: flex;
      width: 100%;
      font-size: 20px;
      cursor: pointer;
      gap: 10px;

      @include respond-below(md) {
        padding: 10px;
      }
    }
  }

  &.expanded {
    width: 280px;

    .menu {
      display: flex;

      .label {
        span {
          display: unset;
        }
      }
    }

    .logo {
      display: unset;
    }
  }

  @include respond-below(md) {
    // display: none;
    .menu {
      display: none;
    }

    &.expanded {
      display: flex;
      position: fixed;
      height: 100%;
    }
  }
}

.menuItem {
  padding: 9px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  color: $text-secondary;
  font-size: 14px;
  cursor: pointer;
  position: relative;

  @include respond-below(md) {
    // padding: 10px;
  }

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    color: white;
    background-color: $bg-hover;
  }

  .activeBorder {
    width: 3px;
    height: 22px;
    background-color: $primary-core;
    position: absolute;
    left: 0;
    border-radius: 0 4px 4px 0;
    display: none;
  }

  &.active {
    color: $primary-core;
    background-color: $primary-surface;

    .activeBorder {
      display: block;
    }

    // box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  &.logout {
    color: $color_danger1;
  }
}

.bottom {
  margin-bottom: $padding_sm;
}

.back {
  padding: 10px 0px;
  border-radius: 12px;
  margin-bottom: 6px;
  font-weight: 500;

  font-size: 14px;
  cursor: pointer;

  position: fixed;
  bottom: 16px;
  left: $padding_sm;
  background-color: $bg-elevated;
  width: 50px;

  @include flexCenter;
  &:hover {
    background-color: $bg-hover;
  }
}
