// $color_1: #4f46e5;
$color_1: #10b981;
// $color_2: #1b4788;
$color_2: #3b82f6;
$color_text_grey: #64748b;
$color_text_grey2: #cecece;

// $color_bg: #f8fafc;
$color_bg: #f0fdf4;
// $color_bg: #f0fdf4;

$color_danger1: #ba1a1a;

$padding_sm: 16px;
$padding_md: 20px;
